@model Weather.Model.Forecast
    
    <div class="col-lg-2">
        <div class="panel panel-info" >
            <div class="panel panel-heading">
                <h4 class="h4 text-center">@Model.temperatureValue &#8451</h4>
                <img src="@Model.GetSymbolFromWeatherMapSrc(Model)" />
            </div> 
            <div class="panel panel-body">
                <div class="compass">
                    <div class="direction">
                        <p>@Model.windDirectionCode<span>@Model.windSpeedMps Mps</span></p>
                    </div>
                    <div class="arrow @Model.windDirectionCode.ToLower()"></div>
                </div>
            </div>
            <div class="panel panel-footer">
                @if (Model.cloudsAll == "0")
                {
                    <i class="material-icons">ic_insert_emoticon</i>
                }
 
                <p class="access-time">From @Model.timeFrom.Hour:00</p>
            </div>
            
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.forecastId)
                <div class="input-group-sm">
                    @Html.ActionLink("Details", "Details", new { Id = Model.geonameId }, new { @class = "action-link" })
                    @Html.ActionLink("Edit", "Edit", new { Id = Model.geonameId}, new { @class = "action-link" })
                    @Html.ActionLink("Delete", "Delete", new { Id = Model.geonameId }, new { @class = "action-link" })
                </div>
            }

        </div>
    </div> 
